<div class="art-nav">
    <ul class="art-menu">
        @*<li><a href="#" class="active"><span class="l"></span><span class="r"></span><span
            class="t">Home</span></a> </li>
        <li><a href="#"><span class="l"></span><span class="r"></span><span class="t">Menu Item</span></a>
            <ul>
                <li><a href="#">Menu Subitem 1</a>
                    <ul>
                        <li><a href="#">Menu Subitem 1.1</a></li>
                        <li><a href="#">Menu Subitem 1.2</a></li>
                        <li><a href="#">Menu Subitem 1.3</a></li>
                    </ul>
                </li>
                <li><a href="#">Menu Subitem 2</a></li>
                <li><a href="#">Menu Subitem 3</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="l"></span><span class="r"></span><span class="t">About</span></a>
        </li>*@
        
        @if (ViewBag.ShowSubscription)
        {
            <li><a href="/SocietySubscription/PayIndex"><span class="l"></span><span class="r"></span><span
                class="t">Pay</span></a> </li>
        }
        @if (ViewBag.ShowChangeProfile)
        {
            <li><a href="/Subscriber/Edit/@ViewBag.SubscriberID"><span class="l"></span><span
                class="r"></span><span class="t">Edit My Profile</span></a> </li>
        }
        @if (ViewBag.ShowCreateAdminUser)
        {
            <li><a href="/Account/Index/?role=SocietyAdmin">    @*@ViewBag.SubscriberID*@
                <span class="l"></span><span class="r"></span><span class="t">Admin Users</span></a> </li>
        }
        @if (ViewBag.ShowCreateSocietyUser)
        {
            <li><a href="/Account/Index/?role=SocietyUser"><span class="l"></span>
            <span class="r"></span><span class="t">Society Users</span></a> </li>
        }
        @if (ViewBag.ShowCreateCompanyUser)
        {
            <li><a href="/Account?role=CompanyUser"><span class="l"></span><span
                class="r"></span><span class="t">Company Users</span></a> </li>
        }
    </ul>
</div>
