<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <!--GoDaddy-->
    <!--<add name="ApplicationServices" connectionString="data source=cloudsociety.db.8783547.hostedresource.com;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123;Pooling=True" providerName="System.Data.SqlClient" />
    <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cloudsociety.db.8783547.hostedresource.com;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--BigRock-->
    <!--<add name="ApplicationServices" connectionString="data source=162.222.225.88;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123;Pooling=True;Connect Timeout=500" providerName="System.Data.SqlClient" />
    <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=162.222.225.88;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123;MultipleActiveResultSets=True;Connect Timeout=500&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ApplicationServices" connectionString="data source=70.87.28.215;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123;Pooling=True;Connect Timeout=500" providerName="System.Data.SqlClient" />
      <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=70.87.28.215;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123;MultipleActiveResultSets=True;Connect Timeout=500&quot;" providerName="System.Data.EntityClient" />-->
    <!--Laptop-->
    <!-- Keval - Laptop-->
    <!--<add name="ApplicationServices" connectionString="data source=dhone-PC\SQLExpress;Integrated Security=True;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123;Pooling=True;Connect Timeout=500" providerName="System.Data.SqlClient" />
    <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dhone-PC\SQLExpress;Integrated Security=True;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123;MultipleActiveResultSets=True;Connect Timeout=500&quot;" providerName="System.Data.EntityClient" />-->

    <!-- Baji - Laptop-->

    <add name="ApplicationServices" connectionString="data source=DESKTOP-M4F70RU\SQLEXPRESS;Initial Catalog=cloudsociety;Integrated Security = True" providerName="System.Data.SqlClient" />
    <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-M4F70RU\SQLEXPRESS;Initial Catalog=cloudsociety;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="ApplicationServices" connectionString="data source=49.50.76.97;Initial Catalog=cloudsociety;User ID=cloudsoc;Pwd=CloudSoc)(!123;Pooling=True;Connect Timeout=500" providerName="System.Data.SqlClient" />
    <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=49.50.76.97;Initial Catalog=cloudsociety;User ID=cloudsoc;Pwd=CloudSoc)(!123;MultipleActiveResultSets=True;Connect Timeout=500&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="ApplicationServices" connectionString="data source=SSPLLAPTOP-03\SQLEXPRESS;Initial Catalog=CloudSociety;Integrated Security = True" providerName="System.Data.SqlClient" />
      <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SSPLLAPTOP-03\SQLEXPRESS;Initial Catalog=CloudSociety;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
    <!--<add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSocietyModel.csdl|res://*/CloudSocietyModel.ssdl|res://*/CloudSocietyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SENTIENTLAPTOP1\SQL2008EXPRESS;Initial Catalog=CloudSociety;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CloudSocietyEntities" connectionString="metadata=D:\MySoftware\CloudComputing\CloudSociety\CloudSociety\bin\CloudSociety.csdl|D:\MySoftware\CloudComputing\CloudSociety\CloudSociety\bin\CloudSociety.ssdl|D:\MySoftware\CloudComputing\CloudSociety\CloudSociety\bin\CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SENTIENTLAPTOP1\SQL2008EXPRESS;Initial Catalog=CloudSociety;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>

  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MailFrom" value="DONOTREPLY@cloudsociety.in" />
    <!---->
    <add key="OurBank" value="AXIS Bank" />
    <add key="OurBranch" value="Kalyan" />
    <add key="OurAcNo" value="910020041590696" />
    <add key="URL" value="http://www.cloudsociety.in" />
    <add key="Bcc" value="enquiry@cloudsociety.in" />
    <add key="IsFullAccessToSupport" value="no" />
    <!--<add key="SMS_URL" value="http://server.smsccloud.com:8080/bulksms/bulksms?username=cloudsocie&password=123456&type=0&dlr=1&destination=*MobileNo*&source=xxxxx&message=xxxxxxx"/>-->
    <!--<add key="SMS_URL" value="http://fast.admarksolution.com/vendorsms/pushsms.aspx?user=demo&amp;password=abc123&amp;msisdn=**MobileNo**&amp;sid=INFOKB&amp;msg=**Message**&amp;fl=0&amp;gwid=2"/>-->
    <!--<add key="SMS_URL" value="http://sms.admarksolution.com:/sendSMS?username=Cloud&amp;message=**Message**&amp;sendername=CLDSOC&amp;smstype=TRANS&amp;numbers=**MobileNo**&amp;apikey=5ab47e1c-9610-449c-ae96-d27967c030c2"/>-->
    <add key="SMS_URL" value="http://sms.admarksolution.com:/sendSMS?username=Cloud&amp;message=**Message**&amp;sendername=CLDSOC&amp;smstype=TRANS&amp;numbers=**MobileNo**&amp;apikey=5ab47e1c-9610-449c-ae96-d27967c030c2"/>
    <add key="FileRepositoryPath" value="/FileRepository/Communication/"/>
    <add key="BuyerEmailId" value="enquiry@cloudsociety.in"/>
    <add key="BuyerPhone" value="7736723202"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <machineKey validationKey='0D4ED24602739BD06D32FAB95CC93A28CE2A86BA470956E3EEC7FE9E64E6155F6A8D080C125BF1C723DBA57C84D0662BDCFBC32311094CD060A8C7652292D864'   decryptionKey='A4B9A073565BE27DF2D015D6B8BCBF27D5554E433AD65C72'   validation='SHA1'/>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="100" slidingExpiration="true"  />
      <!--2880  requireSSL="true"-->
    </authentication>
    <sessionState timeout="100" />
    <!--added on 25-Jul-13-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>

    <customErrors mode="Off" />
    <trust level="Full" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!--Uncomment below section for production-->
    <!--<rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp>
        <!--<network host="SMTP.NET4INDIA.COM" port="25" userName="enquiry@cloudtechsolutions.in" password="cloudsoc"/>-->
        <network host="mail.cloudsociety.in" port="25" userName="kevaldhone@cloudsociety.in" password="Dhone!cs234" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
