@{
    ViewBag.Title = "Recreate Society Bill Accounting Transactions";
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    @Html.Hidden("SocietySubscriptionID", (Guid)ViewBag.SocietySubscriptionID)
    <center>
        <fieldset style="width: 400px">
            <legend>Recreate Accounting Transactions</legend>
                <center>
                    <br />
                    <div class="LabelDel">
                        Existing Society Bills Accounting Transactions will be Deleted!<br />
                        And New Accounting Transactions will be Created!<br />
                        Do you want to proceed ?</div>
                    <br />
                    <table>
                        <tr>
                            <td>
                                @*<div class="buttton" align="center" style="width: 37px;height: 14px;">*@
                                @Html.ActionLink("Cancel", "Menu", "SocietySubscription", new { id = ViewBag.SocietySubscriptionID }, new { @class = "buttton" })
                            </td>
@*                            @if (IsFullAccess)
                            {
*@                                <td>
                                    <input type="submit" value=" Yes " class="buttton" style="width: 45px; height: 23px;" />
                                </td>
@*                            }
*@                        </tr>
                    </table>
                </center>
        </fieldset>
    </center>
}
