@{
    ViewBag.Title = "List Of Members";
    ViewBag.Header = "List Of Members";
    IList<CloudSocietyEntities.SocietyBill> societyBillList = (IList<CloudSocietyEntities.SocietyBill>)ViewBag.SocietyBillList;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
}
@if (ViewBag.SMS)
                {
<h3>The SMS have been send to following members successfully</h3>
}else
{
<h3>The Mails have been send to following members successfully</h3>
}
<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in societyBillList)
    {
        if (Count == 1)
        {
        <tr>
            <th>Member
            </th>
            <th>
                @if (ViewBag.SMS)
                {
                    <text>Mobile No</text>
                    
                }
                else
                {
                    <text>Email Id</text>
                    
                }
            </th>
        </tr>
        }  
        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            <td>
                @Html.DisplayFor(modelItem => item.SocietyMember.Member)
            </td>
            @if (ViewBag.SMS)
            {
                <td>@Html.DisplayFor(modelItem => item.SocietyMember.MobileNo)</td>
            }
            else
            {
                <td>
                    @*@{
                ModelStateDictionary ms = new ModelStateDictionary();
                //var ud = new CloudSociety.Services.UserDetailService(ms).GetBySocietyMemberID(item.SocietyMemberID);
                //string mailTo = (Membership.GetUser((object)ud.UserID).Email ?? "");
                String mailTo = "";
                var ud = new CloudSociety.Services.UserDetailService(ms).GetBySocietyMemberID(item.SocietyMemberID);
                if (ud != null)
                {
                    var usr = Membership.GetUser((object)ud.UserID);
                    if (usr != null)
                    {
                        mailTo = usr.Email;
                    }
                }
                    }
                    @mailTo*@
                <td>@Html.DisplayFor(modelItem => item.SocietyMember.EmailId)</td>

                </td>
            }
        </tr>
            Count = Count + 1;
    }
    @if (Count == 1)
    {<tr class="TableRow">
        <td>Currently there are no Records
        </td>
    </tr> }
</table>
<br />
<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.SocietySubscriptionID, billAbbreviation = ViewBag.BillAbbreviation }, new { @class = "EditDelete" })
</div>
