@{
    ViewBag.Title = "MessageToViewer";
}

<h2>This page is being updated.<br />Please visit after some time.... </h2>
<br />
<div>
    @Html.ActionLink("Back", "Menu", "SocietySubscription", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>