@{
    ViewBag.Title = ViewBag.Module;
    ViewBag.Header = ViewBag.Module;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
}

<p><span class="SocName">@ViewBag.Module</span>
</p>
<br /><br />
<p>
    <span class="greytext">
        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" /></span><span
            class="grey">The updates will be following shortly kindly come back agains to visit
            the page..... </span><span class="greytext">
                <br />
                <br />
                <span class="redline">------------------------------------------------------------------------------------------------------------------------------------------------</span><br />
            </span>
</p>

