<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Laptop-->
    <add name="ApplicationServices" connectionString="data source=SSPLLAPTOP-03\SQLEXPRESS;Initial Catalog=CloudSocietyWeb;Integrated Security = True" providerName="System.Data.SqlClient" />
    <!--<add name="ApplicationServices" connectionString="data source=SSPLLAPTOP-03\SQLEXPRESS;Initial Catalog=CloudSociety;Integrated Security = True" providerName="System.Data.SqlClient" />
    <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SSPLLAPTOP-03\SQLEXPRESS;Initial Catalog=CloudSociety;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--GoDaddy-->
    <!--<add name="ApplicationServices" connectionString="data source=cloudsociety.db.8783547.hostedresource.com;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123" providerName="System.Data.SqlClient" />
      <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cloudsociety.db.8783547.hostedresource.com;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--BigRock-->
    <!--<add name="ApplicationServices" connectionString="data source=162.222.225.88;Initial Catalog=cloudsociety;User ID=cloudsociety;Pwd=CloudSoc)(!123" providerName="System.Data.SqlClient" />
    <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.222.225.88;initial catalog=cloudsociety;user id=cloudsociety;password=CloudSoc)(!123;multipleactiveresultsets=True;connect timeout=500;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CloudSocietyEntities" connectionString="metadata=res://*/CloudSociety.csdl|res://*/CloudSociety.ssdl|res://*/CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M4F70RU\SQLEXPRESS;initial catalog=cloudsociety;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>