<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQL2008EXPRESS;Initial Catalog=CloudSociety;Integrated Security = True" providerName="System.Data.SqlClient" />
    <!--<add name="CloudSocietyEntities" connectionString="metadata=res://*/Models.CloudSociety.csdl|res://*/Models.CloudSociety.ssdl|res://*/Models.CloudSociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SENTIENTLAPTOP1\SQL2008EXPRESS;Initial Catalog=CloudSociety;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <system.web>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
  </system.web>

</configuration>
